<div style="margin: 0;overflow: hidden" class="main-card mb-3 card">
  <div class="card-header">
    <h1 mat-dialog-title>Alert</h1>
  </div>
  <div class="card-body">
    <div mat-dialog-content>
      {{data}}
    </div>
  </div>
  <div class="card-footer">
    <div style="width:100% ">
      <div style="float: right;width: 45%">
        <button class="btn btn-success" style=";margin-top: -3px !important;" [mat-dialog-close]="true">Confirm</button>
        <button mat-button cdkFocusInitial style="margin-left: 5px" (click)="onNoClick()">Cancel</button>
      </div>
    </div>
  </div>
</div>
